.popup {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  background: rgba(0, 132, 255, 0.452);
  width: 100vw;
  height: 100vh;
  transition-duration: .5s;
  &__form {
    margin: 0 auto;
  }
  &__btn {
    margin-top: 72px;
    &_for-popup {
      width: 100%;
    }
  }
  
}

.form {
  transform: scale(.8);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  padding: 56px;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  // label{
  //   &:first-child{
  //     margin-top: 48px;
  //   }
  //   margin-top: 32px;
  //   font-size: 16px;
  //   line-height: 30px;
  //   letter-spacing: 0.04em;
  //    color: #1F3F68;
  //   opacity: 0.8;
  // }
  input, textarea {
    margin-top: 8px;
    padding: 21px 43px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    outline: none;
    opacity: 0.5;
    // &:valid {
    //   background: rgba(0, 128, 0, 0.3);
    // }
    // &:invalid:not(:focus):not(:placeholder-shown) {
    //   background: pink;
    // }
    // &:invalid:not(:placeholder-shown) {
    //   background: pink;
    // }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}